.section_1{
    background-image: url(/img/IMG_20231129_211432_501.jpg);
    /* width: auto; */
    /* max-width: auto; */
    height: 800px;
}

.header{
    margin: auto;
    display: flex;
    justify-content: space-between;   
    margin-top: auto;
}

.logo{
    width: 100px;
    height: 75px;
    margin-left: 50px;
}

.home{
    display: flex;
    margin-right: 50px;
}

.home_1{
    padding: 10px;
}

a:hover{
    color: crimson;
}

h1{
    text-align: center;
}

.section_2{
    
}