.section_1{
    background-image: url(/img/IMG_20231129_211432_501.jpg);
    /* width: auto; */
    /* max-width: auto; */
    height: 800px;
}

.header{
    margin: auto;
    display: flex;
    justify-content: space-between;   
    margin-top: auto;
}

.logo{
    width: 100px;
    height: 75px;
    margin-left: 50px;
}

.home{
    display: flex;
    margin-right: 50px;
}

.home_1{
    padding: 10px;
}

a:hover{
    color: crimson;
}

h1{
    text-align: center;
}

.section_2{
    align-content: center;
    background-color: rgba(123, 126, 80, 0.418);
}

.para1{
    text-align: justify;
    padding: 20px;
}

.slider-frame{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;
}

@-webkit-keyframes slide-animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;}
} 

.slider-images{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide-animation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
}

.image-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}